* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 1rem;

  line-height: 1.5;
  background-color: #fff;
}
img {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
.btn-big {
  padding: 18px 40px;
}
.btn-small {
  padding: 15px 28px;
}
/* header-section-style */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
}

/* banner */
.banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  color: #fff;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.banner-content {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.banner-content p {
  margin-bottom: 140px;
}
.banner-content button {
  cursor: pointer;
}

/* speakers style*/
.speaker-section {
  margin: 60px 0;
}
.speaker-section h2 {
  margin-bottom: 40px;
  text-align: center;
}
.speakers {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.speaker {
  border: 1px solid #e5e7eb;
  border-radius: 8px 8px 0 0;
}
.speaker img {
  border-radius: 8px 8px 0 0;
  margin-bottom: 8px;
}

.speaker-content {
  padding: 12px;
}
.speaker-content h4 {
  font-size: 12px;
  color: #1d4ed8;
}
.speaker-content h3 {
  font-size: 20px;
  font-weight: bold;
}
.speaker-content p {
  font-size: 14px;
  color: #575757;
}

/* prices-section style */
.card-header {
  text-align: center;
}
.card-header h2 {
  font-size: 48px;
  color: #0d1b2a;
}
.card-header p {
  font-size: 16px;
  color: #575757;
  margin-bottom: 48px;
}
.card-area {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card {
  align-items: center;
  border: 1px solid #e5e7eb;
  padding: 32px;
}
.card-head {
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
}
.card-head p {
  font-size: 13px;
  color: #888888;
}
.card-head h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #888888;
}
.card-head h3 {
  font-size: 44px;
  color: #0d1b2a;
}
.card-body {
  margin-bottom: 20px;
}
.card-body ul li {
  color: #333333;
  font-size: 14px;
  line-height: 32px;
}
.card-body ul li::marker {
  color: blue;
  font-size: 24px;
}
.card-footer button {
  width: 100%;
  border: 1px solid #1d4ed8;
  border-radius: 8px;
  padding: 12px;
  background-color: transparent;
}
.card-footer button.active {
  background-color: #1d4ed8;
  color: #fff;
}

/* newsletter section style */
.newsletter {
  margin: 48px 20px 0 0;
  color: #fff;
  text-align: center;
}
.bg {
  background: #1d4ed8;
  padding: 48px 0;
}
.newsletter-content {
  max-width: 700px;
  margin: 0 auto;
}

.newsletter h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.newsletter p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.newsletter-form input {
  width: 350px;
  max-width: 100%;
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.newsletter-form button {
  padding: 15px 30px;
  border: none;
  background: #212529;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background: #000;
}
